{% extends 'Todo/base.html' %}
{% block title %} Login {% endblock %}
{% load static %}
{% block css %}  
<link rel="stylesheet" rel="text/css" href="{% static 'Todo/login.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div id="containpic"></div>
<div class="formm">
    <p class="head-text">Log In</p>
    {% if form.errors %}
    <div class="error">
        {{ form.error_messages }}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}
        <p class="Done">Don't have an account?<a href="/sign-up">sign up</a></p>
        <!-- <input type="text" name="Username" class="box" placeholder="Username">
        <input type="password" name="Password" class="box" placeholder="Password"> -->
        <button type="submit">Log In</button>
    </form>
</div>
<!-- <form method="post">
{% csrf_token %}
{{ form| crispy }}
<button type="submit"class="btn btn-success">Login</button>
</form> -->
{% endblock %}